.header {
    background-color: $gray;
    padding: 72px 0;
    flex: 0 0 auto;

    .wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        
        width: 85px;
        display: block;
        flex: 0 0 auto;
        
        img{
            width: 100%;
        }
    }
    
    &__nav{
        
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            column-gap: 15px;
        }
    }

    &__item{
        text-transform: uppercase;
        transition: 3s;
        line-height: 38px;

        &:hover{
            color: $black;
        }
    }

    @media (max-width:780px){
        .wrapper{
            flex-direction: column;
            align-items: center;
        }

        ul{
            flex-direction: column;
            text-align: center;
        }
      
    }
}




