.content{
    background-color: rgba(52, 84, 122, 1);
    color: white;
    flex: 0 0 auto;
    padding: 50px 0;
    row-gap: 20px;
    align-content: flex-end;
    
    &__inf{
        display:flex;
        row-gap: 20px;
        flex-direction: column;
    }
    
    .wrapper1{
        max-width: $max;
        margin: $mar auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}

